@import "../../variables.scss";

h1 {
    text-align: center;
}

.container {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    gap: 10px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.top-main {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;

    div {
        flex: 1;
    }
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    gap: 10px;
}

.card {
    padding: 5px;
    border-radius: 5px;
}

.current-user-card {
    color: $primary;
}

.average-card {
    background-color: $primary-light;
}

.vote-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}